# Vim
*~
*.swp
*.swo
*.vim

# Visual Studio
Debug
Release
*vcxproj*
*.sln
*.sdf

# nix
Makefile
*.a
*.out

# CMake
CMakeFiles
CMakeCache.txt
cmake_install.cmake
install_manifest.txt

# Python
__pycache__

